<!doctype html>
<html lang="pt">
    <head>
        {{ metatags }}
        <link href="dist/main.css" rel="stylesheet">
    </head>
    <body>
        {{ content }}
        <script src="dist/bundle.js"></script>
    </body>
</html>